/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    color: black;
    
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    /* justify-content: space-between; */
    margin:  30px 0;
    
}
.hebergements-cards .card {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 29%;
}
.hebergements-cards img {
    
    height: 136px;
    border-radius: 20px 20px 0 0;
}

/* .card {
    width: 30%;
    height: 200px;
} */
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/

.activites {
    /* background-color: #D9D9D9; */
    padding: 30px;
}
.activites-card {
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    margin: 30px 0;
}
.activites-card .card {
    width: 297px;
    padding: 0;
}
.activites-card img {
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.activites-content {
    margin: 20px 19px;
}
/* footer */
footer {
    background-color: var(--main-bg-color);
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 0;
}
.footer-link {
    flex-grow: 1;
    padding: 0px 0px 0 20px;
}
.footer-link ul li {
    padding: 8px 0;
    list-style-type: none;
}


/* Style pour le header  */
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header-logo{
    padding: 30px 0;
}
.header-logo-img{
    height: 20px;  
    width: 60PX; 
    
}
/* menu */
ul.navigation{
    display: flex;
    align-items: center;
}
li#hebergements-link, li#activites-link{
    justify-content: space-between;
    padding: 0 25px 0 40px;
}

.header-nav a:hover, .header-nav .active {
    color: var(--main-color);
    border-top: 2px solid;
    padding-top: 14px;
}

.footer-link ul {
    padding: 0;

}


/* Barre de rechercher */
h1 {
    font-size: 22px;
    margin: 0 0 8px 0px;
}
h1 + p {
    margin-top: 0;
}

.loc-dot {
    padding: 16px 18px 14px 18px;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
    border: none;
}

#input {
    font-size: 18px;
    padding: 13px;
    font-weight: 700;
    border: 1px solid var(--main-bg-color);
}

h3 {
    margin-bottom: 0;
}
form {
    height: 50px;
    margin-top: 35px;
}
/* .section-recherche {
    margin-bottom: 35px;
} */
.searchbtn {
    background-color: var(--main-color);
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 0 15px 15px 0;
    border: 1px solid var(--main-color);
    color: white;
    font-size: 18px;
}

.filtres {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: 20px;
    
}
.buttons {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 15px;
}

.filtres button {
    cursor: pointer;
    font-weight: 700;
    padding: 12px 20px 12px 4px;
    border-radius: 45px;
    background-color: white;
    font-size: 16px;
    border: 2px solid #D9D9D9;
}
.filtres button:hover {
    background-color: var(--filter-bg-color);
}

.filtres i {
    padding: 0px 6px 0 12px;
    
}

.infos > i {
    margin-right: 20px;
}

.filtre-center {
    align-self: center;
    margin-right: 15px;
}

.infos {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card {
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    margin: 30px 0;
    }
    .activites-card .card {
        width: 193px;
        height: 270px;
        padding: 0;
    }
    .activites-card img {
        height: 200px;
        /* width: 100%; */
        /* border-radius: 20px 20px 0px 0px; */
    }
    .filtres {
        display: block;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .buttons {
        display: flex;
        flex-wrap: wrap;
        
    }
    .buttons button {
        width: 162px;
        height: 50px;
        font-size: 14px;
    }
    .hebergements-cards {
        flex-direction: column;
        
    }
    .hebergements-cards .card {
        width: 100%;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .populaires-cards .card {
        width: 100%;
    }
    section.hebergements {
        background-color: rgb(255, 255, 255);
    }
    .activites-card {
    flex-direction: column;
    }
    .activites-card .card {
    width: 100%;
    }
    footer {
        flex-direction: column;
    }
    .activites {
    /* background-color: #D9D9D9; */
    padding: 0;
    }
    .hebergements-and-populaires section {
    padding: 0;
    margin: 30px 0;
    }
    section {
        margin: 85px 0;
    }
}